<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details plant</title>
    <link rel="stylesheet" href="/style.css">

    <%- include('partials/header') %>    

    <style>
        a img{
            width: 2em;
            height: 2em;
        }


        .container{
            display: flex;
            flex-direction: column;
            align-items: center;

            text-align: center;
        }


        .container section{
            display: flex;
            flex-direction: row;

            margin-right: 3em;
        }


        .picture{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        
        .picture img{
            width: 90vw;
        } 

        
        svg{
            position: absolute;
        }



     
    </style>
</head>

<body>
    <main>
        <article>
            <section class="container">
                <section>
                    <a href="/results"> <!--Nog linken aan gebruiker-->
                        <img src="/img/arrow-left.svg" alt="Icon arrow left"></li> <!-- Bron https://www.iconfinder.com/search?q=arrow+left -->
                    </a>
    
                    <h1>Plant details</h1>
                </section>
                
                <h2><%= plants.commonName %></h2>
            </section>

            <div class="picture">
                <img src="<%= plants.img %>" alt="Picture of plant">

                <a href="/favorieten"> <!--Nog linken aan gebruiker-->
                    <svg class="icons" id="icon-favorites-cards" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 414.05 368.37">
                    
                        <path class="cls-2" d="m302.8,0c-29.47,0-57.47,11.79-78.09,32.42l-17.68,17.68-16.21-16.21c-42.73-44.2-113.46-44.2-156.19-1.47l-1.47,1.47c-44.2,44.2-44.2,114.93,0,159.14l173.87,175.35,173.87-175.35c44.2-44.2,44.2-114.93,0-159.14C360.27,11.79,332.27,0,302.8,0Z"/>
                        <rect id="_Transparent_Rectangle_" data-name=" Transparent Rectangle " class="cls-1" x="191.02" y="168.19" width="1.2em"/>
                    </svg>            
                </a>
            </div>

            <div>
                <p><%= plants.category %></p>
                <p><%= plants.heightPurchase.CM %></p>
                <p><%= plants.idealLight %></p>
            </div>

            <div>
                <button>See more categories</button>

                <p><%= plants.growth %></p>
                <p><%= plants.heightPotential.CM %></p>
                <p><%= plants.tempMax.C %></p>
                <p><%= plants.watering %></p>
            </div>
        </article>

        <button>Add to favorites</button>
    </main>

    <footer>
        <%- include('partials/footer') %> 
    </footer>
</body>
</html>