<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Details plant</title>
        <link rel="stylesheet" href="/style.css">

        <%- include('partials/header') %>    

        <style>
            /* Loading icon */
            .loading{
                display: flex;
                justify-content: center;
                align-items: center;

                margin-top: 9em;
            }

            
            .loading img{
                width: 14em;
                height: 14em;
            }

            
            /* Arrow back to results + common name */
            .nav-and-name{
                display: grid;
                grid-template-columns: 1.75rem 1fr 2.5rem;               
                align-items: center;

                padding-left: 0.5em;
                margin-bottom: 0.3em;
                color: var(--color-tekst);
            }


            h1{
                width: 100%;
                padding-bottom: 0.2em;
                text-align: center;
            }

            
            .nav-and-name button{
                all: unset;
                fill: var(--color-lines);

                width: 1.5em;
                height: 1.5em;
            }


            /* Image plant + favorites button */
            .picture{ 
                position: relative;
                display: inline-block;
                width: fit-content;
                /* max-width: 20em; */


                align-self: center;
                /* width: min(80%, 40em); */
            }

            
            .picture img{
                display: block;
                width: fit-content;
                /* max-width: 20em; */
                /* width: min(80%, 20em); */
                border-radius: 0.7em;   
            } 


            .favorite-btn{
                position: absolute;
                bottom: .5em;
                right: .5em;

                width: 2em;
                height: auto;

                background: none;
                border: none;
            }


            .favorite-btn .cls-2.clicked{
                fill: url(#SvgGradient);
                stroke: var(--color-icons-not-filled);
                stroke-width: 1em;

                transition: .5s ease;
            }


            /* Main categories */
            .container{
                padding: 0.5em;
                margin-top: 0.7em;

                border: 0.08em solid var(--color-lines);
                border-radius: 0.7em;

                width: min(80%, 40em);
                align-self: center;
            }


            .description{
                display: flex;
                flex-direction: column;
                margin: 0 1em;
            }


            .firstCategories{
                margin-bottom: 0.4em;
            }


            .firstCategories h2{
                margin-bottom: 0.5em;
                border-bottom: 0.05em solid var(--color-lines);
                width: 7em;
                padding: 0.2em 0;
            }


            /* Icons categories */
            .illustrations li{
                display: flex;
                flex-direction: row;
                align-items: center;

                padding-bottom: 0.5em;
            }

            
            .illustrations li img{
                margin-right: 0.55em;
                padding-left: 0.25em;
                width: 2em;
                height: 2em;
            }


            /* Secondary categories */
            .secondCategories{
                padding: 0.1em;
            }


            .drop{
                display: flex;
                align-items: center; 

                gap: 0.4em;
            }

            
            .arrow svg{
                width: 1.1em;
                height: 1.1em;

                transition: transform 0.5s ease;
            }


            .secondCategories ul{
                max-height: 0;
                overflow: hidden;
                transition: 0.4s ease-out;

                padding-bottom: 0.25em;
            }


            .secondCategories ul.show{
                max-height: 500px;
            }


            .secondCategories h3{
                margin-bottom: 0.5em;
                border-bottom: 0.05em solid var(--color-lines);

                width: 14em;
                padding: 0.2em 0;
            }


            /* Share button */
            #share-button{
                display: block;
                margin: 0 auto;

                margin-top: 3em;
                margin-bottom: 3em;
            }


            @media (width > 40em){
                .description{
                    flex-direction: row;
                    gap: 2em;
                }

                .container{
                    margin-top: 0;
                }

                article{
                    display: grid;
                    justify-content: center;
                    align-self: start;
                    row-gap: 4em;
                }

                #share-button{
                    margin-top: 2em;
                    margin-bottom: 2em;
                }
            }


            /* Carrousel */
            .carrousel{
                margin-bottom: 4em;
                margin-left: 1em;
                margin-right: 1em;
            }


            .carrousel h2{
                width: 14em;
            }


            .carrousel-scroll{
                scroll-snap-type: x mandatory; 
                -webkit-overflow-scrolling: touch; 
                padding: 10px 0; 
            }


            .plant-card{
                position: relative;
                
                width: 12em; 
            }


            .favorite-btn-carrousel{
                position: absolute;
                bottom: 5.8em;
                right: .5em;

                width: 2em;
                height: auto;

                background: none;
                border: none;
            }


            .favorite-btn-carrousel .cls-2.clicked{
                fill: url(#SvgGradient);
                stroke: var(--color-icons-not-filled);
                stroke-width: 1em;

                transition: .5s ease;
            }
        </style>
    </head>

    <body>
        <div class="loading">
            <img src="/img/loading.gif" alt="Loading gif"> <!--Source https://giphy.com/stickers/sticker-plant-grow-fnTxHzv7wCEPo18uDg-->
        </div>

        <main class="hidden">
        
            <article>
                <section class="nav-and-name">
                    <button onclick="history.back()">

                        <svg viewBox="0 0 512 512">
                            <g>
                                <path d="M353,450a15,15,0,0,1-10.61-4.39L157.5,260.71a15,15,0,0,1,0-21.21L342.39,54.6a15,15,0,1,1,21.22,21.21L189.32,250.1,363.61,424.39A15,15,0,0,1,353,450Z"/>
                            </g>
                        </svg>
                    </button>

                    <h1> <%= plants.commonName %></h1>
                </section>

                <div class="description">
                    <div class="picture">
                        <img src="<%= plants.img %>" alt="Picture of plant">
        
                        <button class="favorite-btn" onclick="addToFavorites('<%= plants.id %>')" data-plant-id='<%= plants.id %>'>
                                <svg viewBox="0 0 414.05 368.37">
                                    <defs>
                                        <linearGradient id="SvgGradient" x1="0%" y1="0%" x2="100%" y2="100%">
                                            <stop offset="0%" stop-color="#718d69"/>
                                            <stop offset="100%" stop-color="#4a5d23"/>
                                        </linearGradient>
                                    </defs>
                                
                                    <path class="cls-2" d="m302.8,0c-29.47,0-57.47,11.79-78.09,32.42l-17.68,17.68-16.21-16.21c-42.73-44.2-113.46-44.2-156.19-1.47l-1.47,1.47c-44.2,44.2-44.2,114.93,0,159.14l173.87,175.35,173.87-175.35c44.2-44.2,44.2-114.93,0-159.14C360.27,11.79,332.27,0,302.8,0Z"/>
                                </svg>        
                        </button>
                    </div>

                    <div class="container">
                        <section class="firstCategories">
                            <h2>Categories</h2>
        
                            <ul class="illustrations">
                                <li>
                                    <img src="/img/plant.svg" alt="Plant icon"> <!--Source icon https://www.iconfinder.com/search?q=plant+sprout-->
                                    <p><%= plants.category %></p> 
                                </li>
                                
                                <li>
                                    <img class="light-icon" src="/img/sun.svg" alt="Sun icon"> <!--Source icon https://www.iconfinder.com/search?q=cloud & https://www.iconfinder.com/search?q=sun-->
                                </li>                      
                                    <p class="light-text"><%= plants.idealLight %></p> 
            
                                <li>
                                    <img src="/img/gieter.svg" alt="Plant waterer icon"> <!--Source icon https://www.iconfinder.com/search?q=watering--> 
                                    <p><%= plants.watering %></p> 
                                </li>
            
                                <li>
                                    <img src="/img/ruler.svg" alt="Ruler icon"> <!--Source icon https://www.iconfinder.com/search?q=ruler-->
                                    <p>± <%= plants.heightPurchase.CM %>cm</p> 
                                </li>
                            </ul>
                        </section>
                
                        <section class="secondCategories">
                            <h3 class="drop">
                                <span class="arrow">
                                    <svg height="512px" id="Layer_1" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" width="512px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <polygon points="396.6,160 416,180.7 256,352 96,180.7 115.3,160 256,310.5 "/>
                                    </svg>

                                    <!-- Source icon https://www.iconfinder.com/icons/211687/down_arrow_icon -->
                                </span>
                                
                                See more categories
                            </h3>

                            <ul>
                                <li>Min. temp: <%= plants.minTemp.C %>°C</li>
                                <li>Max. temp: <%= plants.tempMax.C %>°C</li>
                                <li class="use">Use: <%= plants.use %></li>
                                <li>Plant growth: <%= plants.growth %></li>
                                <li class="color-of-leaf">Color of leaf: <%= plants.colorOfLeaf %></li>
                            </ul>
                        </section>
                    </div>
                </div>

                <button class="btn-styling" id="share-button">Share</button> 
            </article>

            <section class="carrousel">
                <h2>Other users also liked</h2>

                <div class="carrousel-scroll">
                    <% if (relatedPlants.length > 0) { %>
                        <% relatedPlants.forEach(plant => { %>
                            <div class="plant-card">
                                <a href="/plant/<%=plant.id%>">
                                    <img src="<%= plant.Img %>" alt="Picture of a plant">

                                    <button class="favorite-btn-carrousel" onclick="addToFavorites('<%= plants.id %>')" data-plant-id='<%= plants.id %>'>
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 414.05 368.37">
                                            <defs>
                                                <linearGradient id="SvgGradient" x1="0%" y1="0%" x2="100%" y2="100%">
                                                    <stop offset="0%" stop-color="#718d69"/>
                                                    <stop offset="100%" stop-color="#4a5d23"/>
                                                </linearGradient>
                                            </defs>
                                        
                                            <path class="cls-2" d="m302.8,0c-29.47,0-57.47,11.79-78.09,32.42l-17.68,17.68-16.21-16.21c-42.73-44.2-113.46-44.2-156.19-1.47l-1.47,1.47c-44.2,44.2-44.2,114.93,0,159.14l173.87,175.35,173.87-175.35c44.2-44.2,44.2-114.93,0-159.14C360.27,11.79,332.27,0,302.8,0Z"/>
                                        </svg>        
                                    </button>
        
                                    <div>
                                        <h3><%= plant['Common name'] %></h3>
        
                                        <span class="btn-styling">View details</span>
                                    </div>
                                </a>
                            </div>
                    <% }); %>

                    <% } else { %>
                        <p>No related plants found.</p>
                    <% } %>
                </div>
            </section>
        </main>

        <footer class="hidden">
            <%- include('partials/footer') %> 
        </footer>

        <script>
            //check if detailplant is fav
           document.addEventListener("DOMContentLoaded", function() {
                const plantId = document.querySelector('.favorite-btn').dataset.plantId; 
                checkIfFavorite(plantId);
            })

            async function checkIfFavorite(plantId) {
                try {
                    const response = await fetch(`/is-favorite/${plantId}`);
                    const result = await response.json();

                    if(result.isFavorite) {
                        console.log("is favoriet!")
                        document.querySelector('.favorite-btn .cls-2').classList.add('clicked')
                    }
                } catch (error){
                    console.error('Error checking favorite status:', error);
                }
            }

            //check if related plants are fav
            document.addEventListener("DOMContentLoaded", function() {
            const favButton = document.querySelectorAll('.favorite-btn-carrousel')
            
            favButton.forEach(button => {
                const plantId = button.dataset.plantId
                checkIfFavoriteRel(plantId, button);
            })
        })

        async function checkIfFavoriteRel(plantId, button) {
            try {
                const response = await fetch(`/is-favorite/${plantId}`);
                const result = await response.json();

                if(result.isFavorite) {
                    console.log("is favoriet!")
                    button.querySelector('.cls-2').classList.add('clicked')
                }
            } catch (error){
                        console.error('Error checking favorite status:', error);
            }
        }

            // Add plant to favorites
            async function addToFavorites(plantId) {
                try {
                    const response = await fetch('/add-favorite', {
                        method: 'POST',
                        headers: { 'Content-Type': 'application/json'},
                        body: JSON.stringify({plantId})
                    });

                    const result = await response.json();
                    if (result.success) {
                        alert(result.message);
                    } else {
                        alert(result.message);
                    }
                    
                } catch (error) {
                    console.error('Error:', error);
                    alert('Something went wrong!');
                }
            }

            // Animation drop down
            document.addEventListener("DOMContentLoaded", function (){
                const drop = document.querySelector(".drop");
                const content = document.querySelector(".secondCategories ul");
                const arrow = document.querySelector(".arrow svg");

                drop.addEventListener("click", function (){
                    content.classList.toggle("show");
                    
                    if (content.classList.contains("show")) {
                        arrow.style.transform = "rotate(180deg)";
                    } else {
                        arrow.style.transform = "rotate(0deg)"; 
                    }
                })
            })

            // Loading gif
            window.addEventListener("load", function (){
                const loading = document.querySelector(".loading");
                const content = document.querySelectorAll("main, footer");

                setTimeout(() => {
                    loading.style.display = "none";

                    content.forEach(section => {
                        section.classList.remove("hidden");
                    })
                }, 2500);
            })

            // Icons change per light-element
            // Source: https://www.w3schools.com/jsref/jsref_split.asp
            document.addEventListener("DOMContentLoaded", function () {
                const lightIcon = document.querySelector(".light-icon");
                const lightTextElement = document.querySelector(".light-text");

                if (!lightIcon || !lightTextElement) return;


                const simplifiedLightText = lightTextElement.textContent.split(" (")[0].trim()
                lightTextElement.textContent = simplifiedLightText; 


                const icons = {
                    "strong light": "/img/cloud-and-sun.png",
                    "full sun": "/img/sun.svg"
                }

                const lightTextKey = simplifiedLightText.toLowerCase();
                lightIcon.src = icons[lightTextKey] || "/img/cloud-and-sun.png"; 
            })

            // For category 'use' only the first element shown in the array
            document.addEventListener("DOMContentLoaded", function (){
                const useElement = document.querySelector('.use')
                const simplifiedUse = useElement.textContent.split(",")[0]

                useElement.textContent = `${simplifiedUse}`
            })

            // Add a space after first element of 'color leaf'
            document.addEventListener("DOMContentLoaded", function (){
                const colorLeafElement = document.querySelector('.color-of-leaf')

                if (colorLeafElement) {
                    colorLeafElement.textContent = colorLeafElement.textContent.replace(",", ", ")
                }
            })

            // Sharing button
            // Source https://www.telerik.com/blogs/definitive-guide-using-web-share-api
            document.getElementById("share-button").addEventListener("click", function (){ 
                if (navigator.share) {
                    navigator.share({
                        title: document.title,
                        text: "Check this plant!",
                        url: window.location.href
                    })
                    .catch((error) => console.log("Error sharing", error));
                } else {
                    alert("Sharing is not supported on your device.");
                }
            })

            document.querySelector('.favorite-btn'). addEventListener('click', function (){
                this.querySelector('.cls-2').classList.toggle('clicked');
            })

            document.querySelectorAll('.favorite-btn-carrousel').forEach(button => {
            button.addEventListener('click', function (event){
                event.preventDefault(); // Voorkom dat de `<a>` link wordt gevolgd
                this.querySelector('.cls-2').classList.toggle('clicked');
            });
        });

        </script>
    </body>
</html>