<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details plant</title>
    <link rel="stylesheet" href="/style.css">

    <%- include('partials/header') %>    

    <style>
        .nav-and-name{
            display: flex;
            flex-direction: row;
            align-items: center;

            padding-left: 0.5em;
            margin-bottom: 0.3em;
        }


        .nav-and-name a img{
            width: 1.5em;
            height: 1.5em;
        }


        h1{
            padding-left: 0.3em;
            margin-bottom: 0.2em;
        }


        .picture{ /* div:first-of-type werkt niet want dan pakt hij de header mee */
            position: relative;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        
        .picture img{
            width: 90vw;
            border-radius: 0.7em;
        } 


        .picture a{
            display: flex;
            align-items: center;
            justify-content: center;

            position: absolute;

            bottom: 1.5em;
            right: 1.5em; 
        }


        .picture a svg{
            width: 2em; 
            height: 2em;
        }


        .description{
            display: flex;
            flex-direction: column;
            margin: 0 1em;
        }

        
        svg{  
            position: absolute;
        }


        .firstCategories{
            margin-bottom: 0.5em;
        }


        h2{
            margin-bottom: 0.5em;
            border-bottom: 0.05em solid var(--color-lines);
            width: 6.5em;
            padding: 0.2em 0;
        }


        .secondCategories{
            padding: 0.1em;
        }


        .drop{
            display: flex;
            align-items: center; 
            gap: 0.4em;
        }

        
        .arrow img{
            width: 1.1em;
            height: 1.1em;
            transition: transform 0.5s ease;
        }


        .content{
            max-height: 0;
            overflow: hidden;
            transition: 0.4s ease-out;

            padding-bottom: 0.2em;
        }


        .content.show{
            max-height: 500px;
        }


        h3{
            margin-bottom: 0.5em;
            border-bottom: 0.05em solid var(--color-lines);
            width: 16em;
            padding: 0.2em 0;
        }

        
        .container{
            padding: 0.5em;
            margin-top: 0.7em;

            border: 0.08em solid var(--color-lines);
            border-radius: 0.7em;
        }


        .illustrations li{
            display: flex;
            flex-direction: row;

            align-items: center;
            padding-bottom: 0.5em;
        }

        
        .illustrations li img{
            margin-right: 0.55em;
            padding-left: 0.25em;
            width: 2em;
            height: 2em;
        }


        article button{
            background: var(--color-background-inputfield);

            border: 0.09em solid var(--color-lines);
            border-radius: 0.8em;

            width: 40%;
            padding: 0.3em 0.9em;

            display: block;
            margin: 0 auto;
            margin-top: 2em;
            margin-bottom: 6em;
        }
    </style>
</head>

<body>
    <main>
        <article>
            <section class="nav-and-name">
                <a href="/results">  <!--BACKEND, aan profiel toevoegen-->
                    <img src="/img/arrow-left.svg" alt="Icon arrow left"></li> <!-- Bron https://www.iconfinder.com/search?q=arrow+left -->
                </a>

                 <h1><%= plants.commonName %></h1>
            </section>

            <div class="description">
                <div class="picture">
                    <img src="<%= plants.img %>" alt="Picture of plant">
    
                    <a href="/favorites"> <!--BACKEND, als je op het hartje klikt, wordt hij aan favorieten toegevoegd-->
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 414.05 368.37">
                        
                            <path class="cls-2" d="m302.8,0c-29.47,0-57.47,11.79-78.09,32.42l-17.68,17.68-16.21-16.21c-42.73-44.2-113.46-44.2-156.19-1.47l-1.47,1.47c-44.2,44.2-44.2,114.93,0,159.14l173.87,175.35,173.87-175.35c44.2-44.2,44.2-114.93,0-159.14C360.27,11.79,332.27,0,302.8,0Z"/>
                            <rect id="_Transparent_Rectangle_" data-name=" Transparent Rectangle " class="cls-1" x="191.02" y="168.19" width="1.2em"/>
                        </svg>            
                    </a>
                </div>

                <div class="container">
                    <section class="firstCategories">
                        <h2>Categories</h2>
   
                        <ul class="illustrations">
                            <li>
                                <img src="/img/plant.svg" alt="Plant icon">
                                <p><%= plants.category %></p> <!--Bron https://www.iconfinder.com/search?q=plant+sprout-->
                            </li>
                           
                            <li>
                                <img src="/img/sun.svg" alt="Sun icon">
                                <p><%= plants.idealLight %></p> <!--Bron https://www.iconfinder.com/search?q=cloud & https://www.iconfinder.com/search?q=sun--> <!--If else statement van maken-->
                            </li>
    
                            <li>
                                <img src="/img/gieter.svg" alt="Plant waterer icon">
                                <p><%= plants.watering %></p> <!--Bron https://www.iconfinder.com/search?q=watering--> 
                            </li>
    
                            <li>
                                <img src="/img/ruler.svg" alt="Ruler icon">
                                <p>± <%= plants.heightPurchase.CM %>cm</p> <!--Bron https://www.iconfinder.com/search?q=ruler-->
                            </li>
                        </ul>
                    </section>
        
                    <div class="secondCategories">
                        <h3 class="drop">
                            <span class="arrow">
                                <img src="/img/arrow-down.svg" alt="Drop-down"> <!--Bron https://www.iconfinder.com/icons/211687/down_arrow_icon-->
                            </span>
                            See more categories
                        </h3>
                        <div class="content">
                            <p>Plant growth: <%= plants.growth %></p>
                            <p>Potential height: <%= plants.heightPotential.CM %>cm</p>
                            <p>Max. temp: <%= plants.tempMax.C %>°C</p>
                        </div>
                    </div>
                </div>
            </div>

            <button>Add to favorites</button> <!--BACKEND, nog linken aan account gebruiker-->
        </article>
    </main>

    <footer>
        <%- include('partials/footer') %> 
    </footer>

    <script>
       document.addEventListener("DOMContentLoaded", function (){
            const drop = document.querySelector(".drop");
            const content = document.querySelector(".content");
            const arrow = document.querySelector(".arrow img");

            drop.addEventListener("click", function (){
                content.classList.toggle("show");
                
                if (content.classList.contains("show")) {
                    arrow.style.transform = "rotate(180deg)";
                } else {
                    arrow.style.transform = "rotate(0deg)"; 
                }
            })
        })

        document.addEventListener("DOMContentLoaded", function() {
            const heart = document.querySelector("a"); // Selecteer de <a> tag met het hartje
    
            heart.addEventListener("click", function(event) {
                event.preventDefault(); // Voorkom de standaardactie van de link
                
                // Toggle de 'clicked' class om de kleur van het hartje te veranderen
                heart.classList.toggle("clicked");
            });
        });

    </script>
</body>
</html>