<!DOCTYPE html>
<html lang="en ">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results</title>
    <link rel="stylesheet" href="/style.css">

    <%- include('partials/header') %>    

    <style>
        h1{
            margin-bottom: 1em;
        }
    </style>
</head>

<body>
    <main>

        <h1 class="h1-small">Favorites</h1>

        <%- include ('partials/container') %>

        
        <ul class="list-view">
            <li>
                <%- include('partials/cards') %>
            </li>
            <li>
                <%- include('partials/cards') %>
            </li>
            <li>
                <%- include('partials/cards') %>
            </li>
            <li>
                <%- include('partials/cards') %>
            </li>
            <li>
                <%- include('partials/cards') %>
            </li>
            <li>
                <%- include('partials/cards') %>
            </li>
            <li>
                <%- include('partials/cards') %>
            </li>
            <li>
                <%- include('partials/cards') %>
            </li>
        </ul>
      
    </main>

    <footer>
        <%- include('partials/footer') %> 
    </footer>

    <script src="/script.js" defer></script>  
</body>
</html>