<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PlantMatch</title>
    <link rel="stylesheet" href="/style.css">

    <style>
        body{
            background: var(--color-background);
            height: 100vh;
        }
        main section{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: .7em;
            margin: 0 1em;
        }
        
    </style>
</head>

<body>

    

    <header>
        <%- include('partials/header') %>    
    </header>
    <main>
        <section>
            <%- include('partials/cards-klein') %>
            <%- include('partials/cards-klein') %>
            <%- include('partials/cards-klein') %>
            <%- include('partials/cards-klein') %>
            <%- include('partials/cards-klein') %>
            <%- include('partials/cards-klein') %>
            <%- include('partials/cards-klein') %>
            <%- include('partials/cards-klein') %>
        </section>
    </main>

    <footer>
        <%- include('partials/footer') %> 
    </footer>
</body>
</html>