<!DOCTYPE html>
<html lang="en ">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PlantMatch</title>
    <link rel="stylesheet" href="/style.css">

    <%- include('partials/header') %>    

    <style>
        body{
            background: var(--color-background);
            height: 100vh;
        }

    
        main section{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: .7em;
            margin: 0 1em;
        }
        
    </style>
</head>

<body>

    <main>

        <div>
            <label for="view-list">
                <input type="radio" name="view" value="list" id="view-list" checked>
                <div class="custom-radio-list"></div>
            </label>

            <label for="view-grid">
                <input type="radio" name="view" value="list" id="view-grid" checked>
                <div class="custom-radio-grid"></div>
            </label>
        </div>


        <ul class="list-view">
            <li>
                <%- include('partials/cards-klein') %>
            </li>
            <li>
                <%- include('partials/cards-klein') %>
            </li>
            <li>
                <%- include('partials/cards-klein') %>
            </li>
            <li>
                <%- include('partials/cards-klein') %>
            </li>
            <li>
                <%- include('partials/cards-klein') %>
            </li>
            <li>
                <%- include('partials/cards-klein') %>
            </li>
            <li>
                <%- include('partials/cards-klein') %>
            </li>
            <li>
                <%- include('partials/cards-klein') %>
            </li>
        </ul>
      
    </main>

    <footer>
        <%- include('partials/footer') %> 
    </footer>
</body>
</html>