<!DOCTYPE html>
<html lang="en ">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PlantMatch</title>
    <link rel="stylesheet" href="/style.css">

    <%- include('partials/header') %>    

    <style>
        body{
            background: var(--color-background);
            height: 100vh;
        }

        .radio-container {
            display: flex;
            gap: 1em;

            justify-content: flex-end;
            margin: 0 1em .5em 1em;
        }
        

        input[type="radio"] {
            display: none; /* Verberg de standaard radio button */
        }

    
        .list-view{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: .7em;
            margin: 0 1em;
        }

        .custom-radio-list{
            width: 1em;
            height: 1.5em;
            border-radius: .2em;

            background: var(--color-list-icon);

            /* color: var(--color-list-icon); */
        }

        .custom-radio-grid{
            display: grid;
            grid-template-columns: 1fr 1fr;
        
            width: 1em;
            height: 1.5em;
            gap: .2em;
            
        }

        .custom-radio-grid span{
            height: .65em;

            border-radius: .1em;
            background: var(--color-lines);

        }


        
    </style>
</head>

<body>

    <main>

        <div class="radio-container">

            <div class="custom-radio-list">
                <label for="view-list">
                    <input type="radio" name="view" value="list" id="view-list" checked>
                </label>
            </div>

            <div class="custom-radio-grid">
                <span></span>
                <span></span>
                <span></span>
                <span></span>

                <label for="view-grid">
                    <input type="radio" name="view" value="list" id="view-grid" checked>
                </label>
            </div>
        </div>


        <ul class="list-view">
            <li>
                <%- include('partials/cards-klein') %>
            </li>
            <li>
                <%- include('partials/cards-klein') %>
            </li>
            <li>
                <%- include('partials/cards-klein') %>
            </li>
            <li>
                <%- include('partials/cards-klein') %>
            </li>
            <li>
                <%- include('partials/cards-klein') %>
            </li>
            <li>
                <%- include('partials/cards-klein') %>
            </li>
            <li>
                <%- include('partials/cards-klein') %>
            </li>
            <li>
                <%- include('partials/cards-klein') %>
            </li>
        </ul>
      
    </main>

    <footer>
        <%- include('partials/footer') %> 
    </footer>
</body>
</html>